{% extends 'base_template.html' %}

{% block content %}
	
	<h1>Quick Contact Search</h1>  

	<form action='' method='POST'>
		{% csrf_token %}
		{{ form.as_p }}
		{% if form.errors %}
		    {% for error in form.non_field_errors %}
		        <div class="alert alert-error">
		        </div>
			<!--<strong>{{ error|escape }}</strong> repeats itself otherwise-->
		    {% endfor %}
		{% endif %}
		<button type='submit' value='submit'>Search!</button>
    </form>

    {% if contact_list %}
    <p><h2>Contacts</h2>
    	{% for Contact in contact_list %}
    		<div class="contact">
    			<br><b>Id:</b> {{ Contact.Id }}
    			<br><b>Name: </b>{{ Contact.Name }}
    			<br><b>Email: </b>{{ Contact.Email }}
    			<br><b>Account: </b>{{ Contact.AccountName }}
    		</div>
    	{% endfor %}
    {% elif error_msg %}
    	<br>ERROR: {{ error_msg }}
    {% endif %}

{% endblock %}